.Option {
  padding: 8px;
  cursor: pointer;
}

.Option:hover {
  background-color: var(--hovered-color);
}

.Option.Option-Selected {
  background-color: var(--selected-color);
}

.Option-EnteredLetters {
  background-color: var(--highlight-color);
}
