.Option {
  display: flex;
  padding: 8px;
  align-items: center;
  cursor: pointer;
}

.Option:hover {
  background-color: var(--hovered-color);
}

.Option.Option__selected {
  background-color: var(--selected-color);
}

.Option__enteredCharacters {
  background-color: var(--highlight-color);
}

.Option__checkmark {
  margin-left: auto;
  padding-left: 4px;
}
