.AutoComplete {
  position: relative;
}

.AutoCompleteInput-Error {
  color: var(--error-color);
}

.AutoCompleteInput-Dropdown {
  position: absolute;
  width: 100%;
  max-height: 220px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--white-color);
  overflow: scroll;
}

.AutoCompleteInput-Empty {
  display: block;
  padding: 12px 8px;
  color: var(--placeholder-color);
}
