.InputWithSpinner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.InputWithSpinner-Field {
  flex: 1 1 auto;
  height: 100%;
  padding: 8px;
  text-overflow: ellipsis;
  font-size: var(--text-size);
  overflow: hidden;
}

.InputWithSpinner-Spinner {
  display: flex;
  height: 36px;
  margin-right: 8px;
}
