:root {
  --bg-color: #dbeeff;
  --border-color: #1b1b1b;
  --error-color: #e30004;
  --highlight-color: #ffe27c;
  --hovered-color: #c7e2fe;
  --placeholder-color: #676783;
  --text-color: #1b1b1b;
  --selected-color: rgba(78, 78, 78, 0.4);
  --spinner-color: #0080a3;
  --white-color: #ffffff;
  --text-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--text-size);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
input:focus,
input:hover,
input:active {
  border: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
